{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "singleQuote": true,
        "semi": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "semi": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "semi": true
      }
    }
  ]
}
